name: Build SSL VPN Client Docker Image

on: 
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: true
        default: "1.1.2.65051"
  push:
    paths:
      - 'docker/sslvpnclient/**'
    branches:
      - main

env:
  IMAGE_NAME: sslvpnclient
  VERSION: ${{ inputs.version }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: docker/sslvpnclient
          platforms: linux/amd64
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.description=SSL VPN Client with SOCKS5 proxy and Web UI
            runnumber=${{ github.run_id }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest
